
/* 
Сброс значений, которые могут встречаться во всем документе.
Использую вместо normalize. 
*/
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

/* 
Здесь хранятся стили которые используются в верстке более одного раза.
Обертка, кнопка, заголовки.
*/
.wrapper {
    width: 1440px;
    
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0;
}
.heading {
    margin: 0;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #F2785C;
}
/* Стилизую кнопки для стрелок в них. */
.button {
    background-color: #0D606F;
    color: #FFFFFF;
    border: none;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;

    transition: background-color 0.5s;
}
.button:hover {
    cursor: pointer;
    background-color: #14A3BD; 
}
.destinations__button {
    box-sizing: border-box;
    width: 228px;
    height: 59px;
    padding-left: 55px;
    border-radius: 10px;
   
    font-size: 24px;
    line-height: 59px;
 }
.stories__button {
    box-sizing: border-box;
    width: 228px;
    height: 59px;
    margin-left: 5px;
    margin-top: 10px;     
    padding-left: 50px;

    border-radius: 10px;
    font-size: 24px;
    line-height: 59px;
}
.stories__button,
.destinations__button {
    background-image: url("../img/stories/button-arrow.svg");
    background-repeat: no-repeat;
    background-position: 33px 17px;
}

/* 
Шапка сайта.
Разбил на несколько блоков, стили которых отделил отступами. 
*/
.header {
    width: 100%;

    background-color: rgba(242, 120, 92, 0.7);
}
.header__wrapper {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 1440px;
    height: 90px;
    margin: 0 auto;
    padding: 0 120px;

    background-color: rgba(242, 120, 92, 0.7);
    box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
    color: #FFFFFF;
}

.header__logo {
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    height: 90px;  
}
.header__logo-image {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    padding-bottom: 7px;
}
.header-menu-mb {
    display: none;
}
.header__logo-name {
    font-family: 'Magra', sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding: 0;
    padding-right: 2px;
}

.header__nav {
    display: flex;
    align-items: center;
}
.header__nav-list {
    display: flex;
    justify-content: space-between;
    /* margin: 0 -21px; */
    padding: 0;
    padding-left: 8px;

    list-style-type: none;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.header__nav-item {
    margin: 0 21px;
}
.header__nav-item_first {
    margin-left: 0;
}
.header__nav-item_last {
    margin-right: 40px;
    /*
    служит для корректного размещения навигации между лого и кнокпой
    в макете расстояние разнится, а выравнивание флексом делает расстояние одниковым
    */
}

.header__button {
    width: 103px;
    height: 41px;

    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.main {
    display: flex;
    flex-direction: column;
    margin-top: -90px;
    /*
    Прячемься под шапку
    */
}
/* 
Превью блок.
Разбил на несколько блоков, стили которых отделил отступами. 
*/
.preview {
    height: 765px; 
    padding: 120px;
    box-sizing: border-box;
    background: url(../img/preview/background.jpg);
    color: #FFFFFF;
}

.preview__heading {
    margin: 0;
    margin-top: 2px;

    font-family: 'Aleo', serif;
    font-size: 80px;
    font-weight: 700;
}
.preview__text {
    margin: 32px 0 46px;

    font-family: 'Aleo', serif;
    font-style: italic;
    font-size: 20px; 
    font-weight: 600;
}

.preview__planning {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 892px;
    height: 95px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}
.preview__planning-text {
    width: 560px;
    margin-left: 39px;

    background: none;
    border: none;

    font-family: 'Aleo', serif;
    font-style: italic;
    font-size: 24px;
    font-weight: 400;

    color: #F2785C;
}
.preview__planning-text::placeholder {
    color: #F2785C;
}
.preview__planning-text:focus {
    outline: none;
}
.preview__button {
    width: 228px;
    height: 59px;
    margin-right: 18px;

    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(13, 96, 111, 0.16);

    font-size: 24px;
}


/* 
Шаги.
*/
.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
}
.steps__heading {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.step {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;

    font-family: 'Aleo', serif;
    font-size: 20px;
    font-weight: 400;
    color: #0D606F;
}
/* 
Стили, которые выравнивают блоки с шагами.
В макете они рассположены не симметрично. 
*/
.first-step {
    padding-left: 27px;
}
.last-step {
    padding-right: 100px;
}
.step__description {
    margin-top: 30px;
}



.destinations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 77px;
}
.destinations__heading {
    width: 100%;
    text-align: center;
}
/* 
Всё в слайдере сейчас выполнено для вида, функциональность буду добавлять позже. 
*/
.destinations__slider {
    width: 100%;
    height: 850px;
    margin: 46px 0 33px;

    overflow: hidden;
}
.destination__slider_mb {
    display: none;
}
.slides-wrapper {
    width: 2520px;
    display: flex;
    justify-content: space-between;
      
    margin-left: -540px;
}
.slides-item {
    box-sizing: border-box;
    width: 800px;
    height: 800px;
}
.slides-item__img {
    width: 800px;
    height: 800px;

    border-radius: 16px;
}
.slides-item__country {
    margin-top: -88px;
    margin-left: 16px;

    font-family: 'Red Hat Text', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
}
.radio-block{
    display: flex;
    justify-content: space-between;
    width: 80px;

    margin: 24px auto 0;

}
.slide-checker {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(242, 120, 92, 0.7);
}
.slide-checker:hover{
    cursor: pointer;
    background-color: rgba(242, 120, 92);
}
/* 
Блок с историями. 
Дал фон основному блоку, сдвинул фон на соответсвующую позицию.
Заблюренный белый фон в самом блоке с текстом и картинками.
*/
.stories{
    height: 1424px;
    margin-top: 80px;
    background: url(../img/stories/background.jpg);
    background-position: 0 93px;
    background-repeat: no-repeat;
}
.stories__heading {
    width: 100%;
    text-align: center;
}
.stories__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 1270px;
    margin-top: 39px;
    padding: 42px 120px;
    background-color: rgba(255, 255, 255, 0.7);
}
.stories__content_mb {
    display: none;
}
.stories-item {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    height: 250px;
    width: 1200px;
    margin-bottom: 30px;
    padding: 0;

    font-family: 'Aleo', serif;
    color: #0D606F;
}
.stories-item__img {
    width: 400px;
    height: 250px;
    margin-right: 40px;

    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(13, 96, 111);
}
.stories-item__heading {
    margin: 0 0 24px;

    font-size: 35px;
    font-weight: 400;
}
.stories-item__text {
    width: 760px;
    margin: 0;

    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.stories-item__text a{
    text-decoration: underline;
    font-weight: 700;
}

/* 
Подвал.
Поднял вверх обратным margin. Пока должно работать.
*/
.footer {
    box-sizing: border-box;
    height: 61px;
    margin-top: -61px;
}
.footer__wrapper {
    box-sizing: border-box;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 61px;
    

    padding: 0 120px;
    padding-top: 5px;
}
.footer__rights {
    margin-right: 145px; 

    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
.social-list {
    display: flex;
    list-style-type: none;

    padding: 0;
    margin: 0;
}
.social-list__item {
    margin-left: 20px;
}



