@media screen and (max-width: 390px)  {
    /*
    Элементы, которые скрываются в мобильной вёрстке.
    */
    .header__nav {
        display: none;
    }
    .header__logo-name {
        display: none;
    }
    .header__button {
        display: none;
    }
    .preview__heading {
        display: none;
    }
    .preview__text {
        display: none;
    }
    .destinations__slider {
        display: none;
    }
    .stories__content {
        display: none;
    }
    .footer__rights {
        display: none;
    }


    /*
    Элементы, которые применяются во всём макете.
    */
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
    .heading {
        font-size: 14px;
    }

    .header {
        background-color: transparent;
    }
    /*
    Добавляем полупрозрачный фон, устанавливаем размеры, для наложения на preview.
    */
    .header__wrapper {
        width: 100%;
        height: 251px;
        padding: 43px 0 0;
        align-items: flex-start; 
       
        background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%);
        box-shadow: none;
    }
    .header__logo {
        width: 100%;
        height: 32px;
        padding: 0 16px;
    }
    .header__logo-image {
        padding: 0;
    }    
    .header-menu-mb {
        display: block;
        margin-right: 3px;
    }


    
    /*
    В main отрицательный margin потому что мы, поднимаем верстку на высоту шапки.
    */
    .main {
        width: 100%;
        margin: -251px auto 0;
    }

    
   
    .preview {
        width: 100%;
        height: 251px;
        margin: 0;
        padding: 0;
        
        background-image: url(../img/preview/background-mb.jpg);        
    }    
    .preview__planning {
        width: 360px;
        height: 48px;
        margin: 142px auto 61px;
    }
    .preview__planning-text {
        width: 226px;
        height: 48px;
        margin-left: 15px;

        font-size: 14px;
    }
    .preview__button {
        width: 92px;
        height: 30px;
        margin-right: 8px;

        font-size: 11px; 
    }



    .steps {
        width: 100%;
        margin: 20px 0 0;        
        padding: 0;
        justify-content: space-between;
        align-items: baseline;        
    }
    .steps__heading {
        margin-bottom: 22px;
    }
    .step {
        font-size: 10px;
        text-align: center;
    }
    .step__img {
        width: 70px;
        height: 70px;
    }
    .step__description {
        margin-top: 19px;
    }
    .first-step,
    .last-step {
        padding: 0;
    }
    .first-step {
        width: 94px;
        margin-left: 15px;
        align-items: flex-start;

        text-align: left;
    }
    .last-step {
        width: 98px;
        margin-right: 15px;
        align-items: flex-end;

        text-align: right;
    }


  
    .destinations {
        width: 100%;
        margin: 10px 0 0;
        padding: 0;        
    }    
    .destination__slider_mb {
        display: block;
        width: 360px;
        height: 210px;
        margin-top: 20px;

        background-image: url("../img/destinations/spain-mb.jpg");
        border-radius: 16px;

        font-family: 'Red Hat Text', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #FFFFFF;        
    }
    .slider-mb__name {
       margin: 8px 0 0 15px;
    }
    .slider-mb__arrows {
        display: flex;
        justify-content: space-between;
        margin: 56px 12px 0;
    }
    .radio-block {
        width: 36px;
    }
    .slide-checker {
        width: 8px;
        height: 8px;
        margin-top: 53px;

        border-radius: 4px;
    }
    .destinations__button,
    .stories__button {
        width: 92px;
        height: 30px;
        margin-top: 10px;
        padding: 0 0 0 18px;

        font-size: 11px;
        line-height: 30px;

        background-image: url("../img/destinations/button-arrow-mb.svg");
        background-position: 10px 12px;        
    }

    .stories {
        width: 100%;
        height: 722px;
        margin: 20px 0 0;
        padding: 0;

        background-image: url("../img/stories/background-mb.jpg");
        background-position: 0 29px;
        background-repeat: no-repeat;
    }
    
    .stories__content_mb {
        display: flex;
        flex-direction: column;
        align-items: center;        
        box-sizing: border-box;
        width: 100%;
        height: 628px;   
        margin-top: 10px;     
        padding: 10px 15px;        

        background-color: rgba(255, 255, 255, 0.7);
    }
    .stories-item {
        width: 360px;
        height: 130px;
        margin-bottom: 15px; 
    }
    .stories-item__img {
        width: 155px;
        height: 130px;
        margin-right: 10px;
    }
    .stories-item__heading {
        margin: 5px 0 10px;

        font-size: 11px;
        font-weight: 700;
    }
    .stories-item__text {
        width: 195px;
        margin: 0;
    
        font-size: 9px;
        font-weight: 400;
        line-height: 11px;
    }
    .stories__button {
        font-weight: 500;
        margin-top: -5px;
    }

    .footer {
        width: 100%;
        height: 65px;
        margin: -65px auto 0;
        padding: 0;
    }    
    .footer__wrapper{
        justify-content: center;
    }
    .social-list  {
        width: 360px;
        height: 34px;
        margin: 0 auto;
    }
}