@media screen and (max-width: 390px) {
    .wrapper {
        width: 390px;
    }
    .heading {
        font-size: 14px;
    }
    .header {
        background-color: transparent;
    }
    /*
    Прячем элементы, которых нет в мобильном макете.
    */
    .header__nav {
        display: none;
    }
    .header__logo-name {
        display: none;
    }
    .header__button {
        display: none;
    }
    /*
    Добавляем фон, устанавливаем размеры.
    */
    .header__wrapper {
        width: 390px;
        height: 251px;
        padding: 0;
        padding-top: 43px;
        align-items: flex-start; 
       
        background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%);
        box-shadow: none;
    }
    .header__logo {
        width: 390px;
        height: 32px;
        padding: 0 16px;

    }
    .header__logo-image {
        padding: 0;
    }    
    .header-menu-mb {
        display: block;

        margin-right: 3px;
    }

    
    /*
    Поднимаем верстку на высоту шапки.
    */
    .main {
        margin-top: -251px;
    }

    .preview__heading {
        display: none;
    }
    .preview__text {
        display: none;
    }
    .preview {
        width: 390px;
        height: 251px;
        
        background-color: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%);
        background-image: url(../img/preview/background-mb.jpg);        
        overflow: hidden;
        margin: 0;
        padding: 0;
    }    
    .preview__planning {
        width: 360px;
        height: 48px;

        margin: 142px auto 61px;
    }
    .preview__planning-text {
        width: 226px;
        height: 48px;
        margin-left: 15px;

        font-size: 14px;
    }
    .preview__button {
        width: 92px;
        height: 30px;
        margin-right: 8px;

        font-size: 11px; 
    }


    

    .steps {
        width: 100%;
        overflow: hidden;
        margin: 0;
        margin-top: 20px;
        padding: 0;
        align-items: baseline;
        justify-content: space-between;
    }
    .steps__heading {
        margin-bottom: 22px;
    }
    .step {
        font-size: 10px;
        text-align: center;
    }
    .step__img {
        width: 70px;
        height: 70px;
    }
    .step__description {
        margin-top: 19px;
    }
    .first-step,
    .last-step {
        padding: 0;
    }
    .first-step {
        align-items: flex-start;
        width: 94px;
        text-align: left;
        margin-left: 15px;
    }
    .last-step {
        align-items: flex-end;
        width: 98px;
        text-align: right;
        margin-right: 15px;
    }


    .destinations {
        width: 390px;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .stories {
        width: 390px;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .footer {
        width: 390px;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
}