.popup {
   position: fixed;
   top: 170px;
   left: calc(50% - 325px);

   display: flex;
   flex-direction: column;
   align-items: center;

   width: 650px;
   height: 660px; 
   margin: 0 auto;

   background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 16px;
}
.popup__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 56px;

    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);

    font-family: 'Red Hat Text', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 56px;
}
.button-ico {
    margin-right: 15px;
}
.popup__heading {
    font-family: 'Aleo', serif;
    font-size: 32px;
    font-weight: 700;

    color: #0D606F;
}

.facebook-sign {
    margin-bottom: 20px;

    background-color: #1877F2;
    color: #FFFFFF;
}
.google-sign {
    margin-bottom: 30px;

    background-color: #FFFFFF;
    color: #0D606F;
}

.popup-line {
    display: flex;
    justify-content: space-between;
    width: 560px;

    font-family: 'Aleo', serif;
    font-size: 20px;
    color: rgba(13, 96, 111, 0.5);
    line-height: 24px;
}
.or-line {
    width: 261px;
    height: 0px;

    border: 1px solid rgba(13, 96, 111, 0.5);
}